In [2]:
import pandas as pd
import numpy as np

# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

## 1.Анализ исторических данных

In [178]:
import pandas as pd
import numpy as np
import time

In [216]:
df = pd.read_csv('temperature_data.csv')

In [217]:
df.describe()

        temperature
count  54750.000000
mean      18.241583
std       11.018598
min      -25.376480
25%       11.185024
50%       18.751896
75%       25.996977
max       57.433844

In [218]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54750 entries, 0 to 54749
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         54750 non-null  object
 1   timestamp    54750 non-null  object
 2   temperature  54750 non-null  float64
 3   season       54750 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.7+ MB

In [219]:
df.head()

       city   timestamp  temperature  season
0  New York  2010-01-01     4.784128  winter
1  New York  2010-01-02     6.923097  winter
2  New York  2010-01-03     1.719448  winter
3  New York  2010-01-04     7.158969  winter
4  New York  2010-01-05    -2.162887  winter

In [220]:
def anomaly(temperature, mean_t, std_t):
    left_boundary = mean_t - 2*std_t
    rigrt_boundary = mean_t + 2*std_t
    if temperature > rigrt_boundary or temperature < left_boundary:
        return 1
    else:
        return 0
        
def processing_data(df):
    df["rolling_avg"] = df["temperature"].rolling(window=30).mean()
    df['rolling_std'] = df['rolling_avg'].std()
    df['mean_temp'] = df.groupby(['city','season'])['temperature'].transform('mean')
    df['std_temp'] = df.groupby(['city','season'])['temperature'].transform('std')
    df['anomaly'] = df.apply(lambda x: anomaly(x.temperature, x.mean_temp, x.std_temp), axis=1)

    df_stats = pd.DataFrame()
    df_stats = df.groupby(by=['city', 'season']).agg({'temperature':['mean','std', 'max', 'min']})
    return df_stats, df

In [221]:
start_time = time.time()
stats, df = processing_data(df)
print(stats)
processed_time = time.time() - start_time
print(f"Время последовательного выполнения: {processed_time:.4f} секунд")

                      temperature
                             mean       std        max        min
city           season
Beijing        autumn   16.076133  4.946264  31.057521   0.403563
               spring   13.026696  5.063593  31.931823  -3.521780
               summer   26.987208  5.147958  45.844978  11.545709
               winter   -2.368063  4.798118  13.991464 -16.365497
Berlin         autumn   10.776010  4.977665  26.051909  -9.153468
               spring   10.080384  4.908314  27.577566  -7.207666
               summer   19.843060  4.995084  37.322776   5.311913
               winter    0.072255  4.959507  15.572642 -16.035860
Cairo          autumn   24.794886  5.060714  40.350314  10.860416
               spring   24.888802  4.772143  39.155375   6.220631
               summer   34.939769  5.055321  51.180871  18.369410
               winter   14.904753  4.915651  28.921676   1.779932
Dubai          autumn   30.078827  5.005987  45.304264  15.553810
               spring   29.922065  5.127378  46.752394  14.038143
               summer   40.029936  4.913277  57.433844  24.951514
               winter   19.908886  4.890661  33.704017   2.164473
London         autumn   11.967822  4.972334  28.493051  -5.058063
               spring   10.991914  4.959027  25.985495  -3.440814
               summer   18.167441  5.087175  33.953225   2.024748
               winter    5.020041  4.948476  22.392048 -11.515430
Los Angeles    autumn   20.218761  4.981620  36.939329   3.785571
               spring   17.729754  4.980350  34.744812  -2.850288
               summer   24.753234  5.081306  40.872074   8.007074
               winter   14.987751  5.188421  30.845794  -1.394839
Mexico City    autumn   15.151706  4.922374  28.086585  -1.179303
               spring   18.040399  5.070961  36.512653   2.515528
               summer   19.846229  4.998693  32.850610   5.367669
               winter   11.745275  5.348906  29.745738  -6.401977
Moscow         autumn    7.749714  5.126508  22.009923 -10.827830
               spring    4.799612  5.082806  21.360455 -11.036887
               summer   18.093509  4.859180  33.204370   2.535240
               winter  -10.008440  4.696065   8.830093 -25.376480
Mumbai         autumn   29.513854  5.033844  46.520006  13.661814
               spring   29.955278  4.888228  46.006036  13.145995
               summer   34.749301  5.102335  49.335358  22.453614
               winter   24.616778  5.060976  40.004071   8.633389
New York       autumn   15.072611  4.878327  29.076594   0.181536
               spring    9.781284  4.910954  24.289317  -7.613444
               summer   25.098349  5.082673  42.619215   7.625291
               winter   -0.087885  5.040229  18.010189 -18.800281
Paris          autumn   12.996761  5.062283  28.018782  -3.686787
               spring   12.007122  4.752501  25.715734  -5.430151
               summer   20.206457  4.830370  36.521959   5.802726
               winter    3.947610  4.894442  18.421043 -13.451309
Rio de Janeiro autumn   24.784116  5.090624  41.549717   9.779907
               spring   24.840572  4.894115  40.750181   9.513741
               summer   30.064282  5.060083  48.184077  16.095951
               winter   20.138880  4.954552  37.312933   3.209902
Singapore      autumn   26.950853  5.091578  43.027607  10.141971
               spring   27.987065  5.050234  45.721240  11.029658
               summer   28.109400  5.012173  43.431600  12.524384
               winter   27.129561  5.046342  41.991604  11.256279
Sydney         autumn   20.276968  5.077549  34.905020   4.513210
               spring   17.825774  4.767846  34.094330   3.373451
               summer   24.714554  5.119024  41.896856   7.852086
               winter   11.868172  5.114497  27.360759  -4.949263
Tokyo          autumn   17.982164  5.069082  37.849115   0.326852
               spring   14.803150  4.979914  29.247462   1.484407
               summer   27.271144  4.810552  42.217085  10.537760
               winter    6.059170  4.937649  21.372271  -9.799456
Время последовательного выполнения: 0.6497 секунд

In [222]:
from multiprocessing import Pool

num_processes = 4
parts = np.array_split(df, num_processes)

with Pool(num_processes) as pool:
    start_time = time.time()
    results = pool.map(processing_data, parts)
    processed_time = time.time() - start_time

print(f"Время параллельного выполнения: {processed_time:.4f} секунд")

/home/yana/miniconda3/lib/python3.12/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

Время параллельного выполнения: 0.2561 секунд

В случае функции processing_data параллельное выполнение является более эффективным, чем последовательное

In [223]:
df

,city,timestamp,temperature,season,rolling_avg,rolling_std,mean_temp,std_temp,anomaly
0,New York,2010-01-01,4.784128,winter,NaN,9.61764,-0.087885,5.040229,0
1,New York,2010-01-02,6.923097,winter,NaN,9.61764,-0.087885,5.040229,0
2,New York,2010-01-03,1.719448,winter,NaN,9.61764,-0.087885,5.040229,0
3,New York,2010-01-04,7.158969,winter,NaN,9.61764,-0.087885,5.040229,0
4,New York,2010-01-05,-2.162887,winter,NaN,9.61764,-0.087885,5.040229,0
...,...,...,...,...,...,...,...,...,...
54745,Mexico City,2019-12-25,15.803617,winter,13.040718,9.61764,11.745275,5.348906,0
54746,Mexico City,2019-12-26,2.551694,winter,12.562215,9.61764,11.745275,5.348906,0
54747,Mexico City,2019-12-27,12.014722,winter,12.173232,9.61764,11.745275,5.348906,0
54748,Mexico City,2019-12-28,3.001218,winter,11.786468,9.61764,11.745275,5.348906,0
54749,Mexico City,2019-12-29,17.994093,winter,12.121237,9.61764,11.745275,5.348906,0

In [224]:
from sklearn.linear_model import LinearRegression
import datetime as dt

def calculate_trend(df):
    df['timestamp'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.toordinal())
    X = df['timestamp'].values.reshape(-1, 1)
    y = df['temperature'].values
    model = LinearRegression()
    model.fit(X, y)
    trend = model.coef_[0]
    
    return trend

In [225]:
selected_city = 'New York'
trend = calculate_trend(df[df['city'] == selected_city])
if trend > 0:
    print(f'Позитивный тренд для города {selected_city}')
elif trend < 0:
    print(f'Негативный тренд для города {selected_city}')

Позитивный тренд для города New York

/tmp/ipykernel_15958/1717026075.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['timestamp'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.toordinal())

## 2. Мониторинг текущей температуры

In [226]:
import requests

API_KEY = ""
CITY = "Moscow"

url = f"http://api.openweathermap.org/data/2.5/weather?q={CITY}&appid={API_KEY}&units=metric"
response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    print(f"Погода в {CITY}: {data['main']['temp']}°C")
else:
    print("Ошибка при запросе данных")

Ошибка при запросе данных

In [227]:
city = 'Moscow'
season = 'winter'

temp_city = data['main']['temp']

In [228]:
df_city = df[(df['city'] == city) & (df['season'] == season)]
mean_city = df_city['mean_temp'].mean()
std_city = df_city['std_temp'].mean()
result = anomaly(temp_city, mean_city, std_city)
if result == 0:
    print('Температура не аномальная')
else:
    print('Температура аномальная')

Температура аномальная

In [229]:
df_city

,city,timestamp,temperature,season,rolling_avg,rolling_std,mean_temp,std_temp,anomaly
14600,Moscow,2010-01-01,-9.050402,winter,4.815888,9.61764,-10.00844,4.696065,0
14601,Moscow,2010-01-02,-2.735505,winter,4.395418,9.61764,-10.00844,4.696065,0
14602,Moscow,2010-01-03,-13.512324,winter,4.098695,9.61764,-10.00844,4.696065,0
14603,Moscow,2010-01-04,-12.497852,winter,3.414472,9.61764,-10.00844,4.696065,0
14604,Moscow,2010-01-05,-7.995529,winter,3.035208,9.61764,-10.00844,4.696065,0
...,...,...,...,...,...,...,...,...,...
18245,Moscow,2019-12-25,-5.042670,winter,-7.917424,9.61764,-10.00844,4.696065,0
18246,Moscow,2019-12-26,-14.339857,winter,-8.730191,9.61764,-10.00844,4.696065,0
18247,Moscow,2019-12-27,-18.353209,winter,-9.249793,9.61764,-10.00844,4.696065,0
18248,Moscow,2019-12-28,-7.379280,winter,-9.824772,9.61764,-10.00844,4.696065,0
18249,Moscow,2019-12-29,-11.085844,winter,-10.169200,9.61764,-10.00844,4.696065,0

In [204]:
API_KEY = ""
CITY = "Berlin"

url = f"http://api.openweathermap.org/data/2.5/weather?q={CITY}&appid={API_KEY}&units=metric"
response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    print(f"Погода в {CITY}: {data['main']['temp']}°C")
else:
    print("Ошибка при запросе данных")

city = 'Berlin'
season = 'winter'
temp_city = data['main']['temp']

df_city = df[(df['city'] == city) & (df['season'] == 'winter')]
mean_city = df_city['mean_temp'].mean()
std_city = df_city['std_temp'].mean()
result = anomaly(temp_city, mean_city, std_city)
if result == 0:
    print('Температура не аномальная')
else:
    print('Температура аномальная')

Погода в Berlin: 4.08°C
Температура не аномальная

In [205]:
API_KEY = ""
CITY = "Cairo"

url = f"http://api.openweathermap.org/data/2.5/weather?q={CITY}&appid={API_KEY}&units=metric"
response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    print(f"Погода в {CITY}: {data['main']['temp']}°C")
else:
    print("Ошибка при запросе данных")

city = CITY
season = 'winter'
temp_city = data['main']['temp']

df_city = df[(df['city'] == city) & (df['season'] == 'winter')]
mean_city = df_city['mean_temp'].mean()
std_city = df_city['std_temp'].mean()
result = anomaly(temp_city, mean_city, std_city)
if result == 0:
    print('Температура не аномальная')
else:
    print('Температура аномальная')

Погода в Cairo: 17.42°C
Температура не аномальная

In [206]:
API_KEY = ""
CITY = "Dubai"

url = f"http://api.openweathermap.org/data/2.5/weather?q={CITY}&appid={API_KEY}&units=metric"
response = requests.get(url)
if response.status_code == 200:
    data = response.json()
    print(f"Погода в {CITY}: {data['main']['temp']}°C")
else:
    print("Ошибка при запросе данных")

city = CITY
season = 'winter'
temp_city = data['main']['temp']

df_city = df[(df['city'] == city) & (df['season'] == 'winter')]
mean_city = df_city['mean_temp'].mean()
std_city = df_city['std_temp'].mean()
result = anomaly(temp_city, mean_city, std_city)
if result == 0:
    print('Температура не аномальная')
else:
    print('Температура аномальная')

Погода в Dubai: 20.96°C
Температура не аномальная

## Синхронное выполнение функции получения текущей температуры

In [230]:
import time
import requests

def current_temp(CITY):
    API_KEY = ""
    url = f"http://api.openweathermap.org/data/2.5/weather?q={CITY}&appid={API_KEY}&units=metric"
    response = requests.get(url)
    if response.status_code == 200:
        data = response.json()
        print(f"Погода в {CITY}: {data['main']['temp']}°C")
    else:
        print("Ошибка при запросе данных")

In [231]:
start_time = time.time()
current_temp('Moscow')
elapsed_time = time.time() - start_time
print(f"Время синхронного выполнения: {elapsed_time:.4f} секунд")

Погода в Moscow: -2.84°C
Время синхронного выполнения: 0.1795 секунд

## Асинхронное выполнение получения текущей температуры

In [214]:
import asyncio
import aiohttp

import nest_asyncio
nest_asyncio.apply()

async def fetch(session, city):
    API_KEY = ""
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric"
    async with session.get(url) as response:
        if response.status == 200:
            data = await response.json()
            return f"Погода в {city}: {data['main']['temp']}°C"
        else:
            return "Ошибка при запросе данных"

async def current_temp_async(cities):
    async with aiohttp.ClientSession() as session:
        tasks = []
        for city in cities:
            task = asyncio.create_task(fetch(session, city))
            tasks.append(task)
        
        results = await asyncio.gather(*tasks)
        return results

loop = asyncio.get_event_loop()

start_time = time.time()
loop.run_until_complete(current_temp_async('Moscow'))
elapsed_time = time.time() - start_time
print(f"Время асинхронного выполнения: {elapsed_time:.4f} секунд")

Время асинхронного выполнения: 0.2676 секунд

Для поиска температуры для одного города лучше использовать синхронные методы, это более выгодно по времени в данном случае.